@media screen and (max-width: 1027px) {
    img {
        vertical-align: middle;
        margin-right: 100%;
        margin-left: 10px;
    }

    .item-seperator {
        width: 500px;
        float: left;
        margin-right: 100%;
    }
}

@media screen and (min-width: 1027px) {
    img {
        vertical-align: middle;
        margin-right: 100px;
        margin-left: 10px;
    }

    .item-seperator {
        width: 0px;
    }
}


h1 {
    font-size: 42px;
}

body {
    /* background-color: rgb(10, 10, 10); */
    color: rgb(1, 47, 116);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.gaming-setup a {
    font-size: 20px;
    text-align: center;
}

.gaming-setup a:hover {
    margin: 5px;
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5)
}

#lab_social_icon_footer {
    padding: 5px 0;
    background-color: #dededec4;
}
  
#lab_social_icon_footer a {
    color: #333;
}
  
#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
  /*
      Multicoloured Hover Variations
  */
  
#lab_social_icon_footer #social-yt:hover {
    color: #e62117;
}
  
#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}
  
#lab_social_icon_footer #social-ig:hover {
    color: #fb3958
}
